#### After manually looking at the dataset:

Note: 
The dataset is small and so I went through it fast and easy. 

Although I wish I knew an automated and more reliable method to do this kind of discovery!

Correct me if I am wrong future me ;>

What I discovered: 
- I found that University Rank is a categorical feature as some lower ranks are not exactly identified
- These lower ranks are defined as: 1500 - 2000, which makes it impossible to transform it into a numerical feature
- Transformation will manipulate the real data which can cause misleading results

What I discovered after going through the data manually:

- Some universities' ranks are missing and are labeled as: - 
- Some samples are missing so many features to the point that using them is no longer possible
- I chose to drop sample with missing university name! -> no way to know about it or use the sample if i do not know what this university is right!

Why am I being so much careful with the dataset?
- Well because it is actually tiny to apply an effective machine learning model to it!
- And I do not know what kind of applications to do with it! haha Yes I just go where the wind takes me to ;>

#### Import Libraries

In [8]:
## reading the dataset
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import kagglehub
import numpy
import shutil

#### Download Dataset From Kaggle Hub Into The Current Directory

In [11]:
# Download Dataset
path = kagglehub.dataset_download("alitaqi000/world-university-rankings-2023")

print(path)

# Move it to this directory 
shutil.copytree(path, ".", dirs_exist_ok=True)

# Remove the original file in the cache - clear cache
shutil.rmtree(path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (0.4.1).
Downloading from https://www.kaggle.com/api/v1/datasets/download/alitaqi000/world-university-rankings-2023?dataset_version_number=1...

100%|██████████| 70.2k/70.2k [00:00<00:00, 218kB/s]

Extracting files...
/home/momiji/.cache/kagglehub/datasets/alitaqi000/world-university-rankings-2023/versions/1

#### EDA - Discover data

In [12]:
# copy path to read data
path = './World University Rankings 2023.csv'

# read and explore dataset 
data1 = pd.read_csv(path)


print("Dataset Information: ")
## getteing a quick view

print(data1.info())

print()
print("Dataset Description: ")
## describing all data

print(data1.describe(include='all'))

print()
print("Dataset Shape: ")
# data's dimension - shape
print(data1.shape)

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341 entries, 0 to 2340
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   University Rank              2341 non-null   object
 1   Name of University           2233 non-null   object
 2   Location                     2047 non-null   object
 3   No of student                2209 non-null   object
 4   No of student per staff      2208 non-null   float64
 5   International Student        2209 non-null   object
 6   Female:Male Ratio            2128 non-null   object
 7   OverAll Score                1799 non-null   object
 8   Teaching Score               1799 non-null   float64
 9   Research Score               1799 non-null   float64
 10  Citations Score              1799 non-null   float64
 11  Industry Income Score        1799 non-null   float64
 12  International Outlook Score  1799 non-null   float64
dtypes: float64(6), object(7)
memory usage: 237.9+ KB
None

Dataset Description:
       University Rank                   Name of University       Location  \
count             2341                                 2233           2047
unique             162                                 2233            116
top           Reporter  Xi’an Jiaotong-Liverpool University  United States
freq               512                                    1            173
mean               NaN                                  NaN            NaN
std                NaN                                  NaN            NaN
min                NaN                                  NaN            NaN
25%                NaN                                  NaN            NaN
50%                NaN                                  NaN            NaN
75%                NaN                                  NaN            NaN
max                NaN                                  NaN            NaN

       No of student  No of student per staff International Student  \
count           2209              2208.000000                  2209
unique          2136                      NaN                    79
top            3,266                      NaN                    0%
freq               2                      NaN                   336
mean             NaN                19.000408                   NaN
std              NaN                12.132224                   NaN
min              NaN                 0.400000                   NaN
25%              NaN                12.600000                   NaN
50%              NaN                16.600000                   NaN
75%              NaN                22.200000                   NaN
max              NaN               232.200000                   NaN

       Female:Male Ratio OverAll Score  Teaching Score  Research Score  \
count               2128          1799     1799.000000     1799.000000
unique                87           160             NaN             NaN
top              58 : 42     18.4–24.3             NaN             NaN
freq                  95           305             NaN             NaN
mean                 NaN           NaN       27.018010       23.016898
std                  NaN           NaN       13.282243       16.763819
min                  NaN           NaN       11.600000        7.400000
25%                  NaN           NaN       18.000000       11.300000
50%                  NaN           NaN       22.700000       17.000000
75%                  NaN           NaN       31.850000       28.900000
max                  NaN           NaN       94.800000       99.700000

        Citations Score  Industry Income Score  International Outlook Score
count       1799.000000            1799.000000                  1799.000000
unique              NaN                    NaN                          NaN
top                 NaN                    NaN                          NaN
freq                NaN                    NaN                          NaN
mean          48.495887              47.104558                    46.880378
std           27.967185              15.093682                    22.582401
min            0.800000              36.900000                    14.100000
25%           23.100000              37.800000                    27.900000
50%           47.200000              40.500000                    42.100000
75%           72.350000              48.300000                    62.100000
max          100.000000             100.000000                    99.700000

Dataset Shape:
(2341, 13)

#### Missing Values - Handle missing values and drop useless samples

In [ ]:
# check for missing values 

# drop samples with missing uni names

# WORK IN PROGRESS

#### Preprocessing Categorical Data That Should Be Numerical - Handle percentages that were stored as a string 
for example: '42%' will be processed as 0.42

In [ ]:
# International Student is the percentage feature

# maybe it is better to include there precise number? instead of their percentage! -> feature engineer them 

# WORK IN PROGRESS

#### Preprocessing Numerical features - Are they duplicated?

Overall Score feature can be a repetition of all the other recorded scores
- How it is calculated?
- If it is the avarage the for sure it is a replication
- After all, keep it and check with Stat models if it useful to our model or not - since I do not know what to do eith the data yet!

In [13]:
# preprocess them by scaling normalizing handling missing values by using mean or mode?

# WORK IN PROGRESS

#### Encoding